@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900|Raleway:700");

:root {
  --main-color: linear-gradient(#00b0bb, #6ad9c4);
  --secondary-color: linear-gradient(to top, #cb2d3e, #ef473a);
  --secondary-color-hover: linear-gradient(to top, #ef473a, #e98d86);
  --main-text-color: #000;
  --secondary-text-color: #ebebeb;
  --tertiary-text-color: #ff0000;
  --dismiss-color: #ffc700;
  --green-color1: #00bb13;
  --green-color2: #8ce495;
  --table-color: #d7fdff;
  --heading-text: "Lato";
  --body-text: "Raleway";
}
/* var(--main-color); */
/* Use "background-image:" property to use gradients */

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
