@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

body {
    background-image: var(--main-color);
    height: 100vh;
    width: 100vw;
}

.table {
    background-color: var(--table-color);
    width: 95%;
    height: 69vh;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    line-height: 50px;
    position: relative;
    
  }

.start {
    font-family: var(--heading-text);
    font-weight: 900;
    text-align: center;
    font-size: 20px;
    
}

#title {
    font-family: var(--heading-text);
    font-weight: 900;
    text-decoration: underline;
    
}

.timeSheetText {
    font-family: var(--heading-text);
    flex-direction: left;
    margin-left: 100px;
    font-weight: 700;
    font-size: 20px


}

#logo {
    height: 140px;
    margin-top: 30px;
}

.rotaDetails {
    text-align: left;
}

.backButton {
    height: 40px;
    position: absolute;
    top: 10px;
    left: 16px;
}