@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

body {
    background-image: var(--main-color);
    height: 100vh;
    width: 100vw;
}

.table {
    background-color: var(--table-color);
    width: 95%;
    height: 73vh;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    line-height: 40px;
    position: relative;
    
  }

.start {
    font-family: var(--heading-text);
    font-weight: 900;
    text-align: center;
    
}

#title {
    font-family: var(--heading-text);
    font-weight: 900;
    text-decoration: underline;
    
}

.timeSheetText {
    font-family: var(--heading-text);
    flex-direction: left;
    margin-left: 100px;
    font-weight: 700;


}

#logo {
    height: 140px;
    margin-top: 40px;
    position: absolute;
}

.rotaDetails {
text-align: left;
}

.button{
    background-image: var(--secondary-color);
    font-family: "Lato";
    color: var(--secondary-text-color);
    font-size: 35px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 700;
    border-radius: 10px;
}

/* .button:hover {
    color: var(--main-text-color);
} */