/* body {
  background-image: var(--main-color);
  height: 736px;
}

.employeeText {
}

.employeeInput {
  border-radius: 5px;
  height: 25px;
  width: 180px;
}

.passwordInput {
  border-radius: 5px;
  height: 25px;
  width: 180px;
}

.passwordText {
  font-family: "Lato";
}

.loginBtn {
  background-image: var(--secondary-color)linear-gradient(#ef473a, #cb2d3e);
  border-radius: 5px;
  height: 42px;
  width: 150px;
  color: white;
  font-size: 32px;
} */
