body {
  background-image: var(--main-color);
  color: var(--main-text-color);
  height: 736px;
  font-family: var(--heading-text);
}

.employeeText {
  font-family: var(--heading-text);
  margin-bottom: 0.1em;
}

.passwordText {
  font-family: var(--heading-text);
  margin-bottom: 0.1em;
}

.fieldInput {
  padding-left: 5px;
  border-radius: 5px;
  height: 25px;
  width: 180px;
}

input:focus {
  outline: none;
  border-color: var(--tertiary-text-color);
  box-shadow: 0 0 10px #719ece;
}

.loginBtn {
  margin-top: 20px;
  background-image: var(--secondary-color);
  color: var(--secondary-text-color);
  border: solid var(--secondary-color);
  border-radius: 5px;
  height: 1.5em;
  width: 5em;
  color: white;
  font-size: 32px;
  font-family: var(--heading-text);
  font-weight: 600;
  outline: none;
}

input[type="button"],
input[type="submit"] {
  border: 0;
}
