body {
  background-image: var(--main-color);
  color: var(--main-text-color);
  height: 736px;
  --heading-text: "Lato";
  --body-text: "Raleway";
}

.employeeText {
}

.employeeInput {
  border-radius: 5px;
  height: 25px;
  width: 180px;
}

.passwordInput {
  border-radius: 5px;
  height: 25px;
  width: 180px;
}

.passwordText {
}

.loginBtn {
  background-image: var(--secondary-color);
  color: var(--secondary-text-color);
  border-radius: 5px;
  height: 42px;
  width: 150px;
  color: white;
  font-size: 32px;
}
