:root {
  --main-text-color:#000;
  --main-color: linear-gradient(#00B0BB, #6AD9C4);
  --secondary-color: linear-gradient(to top,#CB2D3E, #EF473A);
  --secondary-text-color:#EBEBEB;
}

/* Use "background-image:" property to use gradients */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}